$black-color: #000;
$light-gray-color: #f5f5f5;
$light-blue-color: #39f;
$gray-color: #808080;
$white-color: #fff;
$blue-color: #00f;
$dim-white-color: #dcdcdc;
$red-color: #f00;

code {
  word-wrap: break-word;

  font-weight: normal;
}

h1,
h2 {
  margin: 1rem 0 .5rem;
}

h6 {
  margin-top: 0;

  line-height: 1;
}

li {
  list-style-position: inside;
}

.links {
  font-size: .85rem;
}

.search-title {
  display: inline;

  margin-left: 15px;
}

.select2-result-link {
  color: $black-color;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  margin-right: 5px;

  border-radius: 35px;
}

.feedback-wrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .button {
    width: 100%;
  }
}

.articles {
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.article {
  margin-top: 20pt;
  margin-bottom: 20pt;

  padding-top: 30px;
  padding-bottom: 30px;

  border-top: thin solid $light-blue-color;
  border-bottom: thin solid $light-blue-color;

  background-color: $light-gray-color;

  h2 {
    color: $light-blue-color;
  }
}

.published-at {
  color: $gray-color;
}

.comment {
  width: 30%;

  margin-top: 30px;

  padding: 15px;

  text-align: left;

  border-radius: 25px;

  background-color: $light-blue-color;

  .comment-content {
    color: $white-color;
  }

  .published-at {
    color: $dim-white-color;
  }
}

.article-actions {
  float: right;

  margin-right: 10pt;
}

.comment-form {
  width: 30%;

  margin-top: 30pt;
}

.comment-content {
  border-bottom: thin solid $light-gray-color;
}

.delete-comment-button {
  color: $blue-color;
}

.delete-comment-button:hover {
  color: $blue-color;
}

.article-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  .button {
    width: 100%;
  }
}

.about-us-content {
  width: 50%;

  margin-top: 50pt;
  margin-right: auto;
  margin-left: auto;

  text-align: center;


  border: thin $red-color solid;
}

.article-filter-form {
  width: 20%;
  margin-right: auto;
  margin-left: auto;

  .button {
    width: 100%;
  }
}
